/* You can add global styles to this file, and also import other style files */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -ms-content-zooming: none;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#pano,
#tiles {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

a {
  position: absolute;
  z-index: 2;
  color: #fff;
  font-size: 24px;

  &:first-of-type {
    top: 10px;
    left: 10px;
  }

  &:nth-of-type(2) {
    top: 10px;
    left: 100px;
  }
}
